*{
    box-sizing: border-box;
}
html{
    background-color: steelblue;
}
body{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 2px;
    min-height: 800px;

}
aside,#indexP{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 10px;
    margin-top: 80px;
}
header{
    background-image: url(../images/header.jpg);
    height: 100px;
    border-radius: 20px;
    text-align: center;
    padding-top: 12px;
    background-size: cover;
    color: whitesmoke;
          
}
legend{
    
    padding: 5px;
    background-color: steelblue;
    border-radius: 5px;
    color: snow;
}
fieldset{
    margin-top: 60px;
}
#submitButton{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    background-color: steelblue;
    box-shadow: 4px 4px 4px black;
}

#imgcell{
    border-color:greenyellow;
    
}
#namecell{
    border-right: greenyellow;
}

fieldset > div{
    display: flex;
    flex-flow: row wrap;
    margin: 2px;
    font-size: larger;
    
}

fieldset > div > *{
    flex: 1 1 50%;
}

iframe{
    margin-left: 50px;
    border-radius: 20px;
    border: solid 1px blueviolet;
}
#iframeP{
    font-size: larger;
    margin-left: 50px;
}

/* fieldset > div > *{
    flex: 1 1 200px
} */



/* navigation CSS*/
nav > ul > li{
    display: inline; 
    width: 33%;
    float: left;
    text-align: center;
    line-height: 2em;
    border: 1px solid teal;
    
    
}

nav > ul > li > a{
    display: block; 
    color:steelblue;
    text-decoration: none;
    }

nav > ul > li > a:hover{
    background-color: orange;
    color: white;
}

footer{
    padding-top: 28px;
    text-align: right;
    background-color:lightsteelblue;
    background-clip: content-box;
    clear: both;

}


/* small devices */
@media only screen and (min-width: 481px) and (max-width: 600px){
    fieldset > div{
        display: flex;
        flex-flow: row wrap;
        margin: 2px;
        font-size: smaller;
    }
    
    fieldset > div > *{
        flex: 1 1 30%;
    }
    
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 799px){
    fieldset > div{
        display: flex;
        flex-flow: row wrap;
        margin: 2px;
        font-size: small;
        
    }
    
    fieldset > div > *{
        flex: 1 1 70%;
    }
    
}

/* Desktop */
@media only screen and (min-width: 800px) and (max-width: 1199px){
    
    
}